[submodule "RandomVisualizer/Periscope"]
	path = RandomVisualizer/Periscope
	url = https://github.com/zspitz/Periscope.git
[submodule "RandomVisualizer.Debuggee/Periscope.Debuggee"]
	path = RandomVisualizer.Debuggee/Periscope.Debuggee
	url = https://github.com/zspitz/Periscope.Debuggee.git
